.containerArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Article:hover{
    transform: scale(1.02);
    background-color: lightgray;
}

.Article {
    width: 30%;
    perspective: 1000px;
    margin: 1%;
    border: 1px solid var(--color3);
    border-radius:40px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1200px) {
    .Article{
        width: 45%;
        perspective: 1000px;
        border: 1px solid var(--color3);
        border-radius:40px;
        text-decoration: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}
@media screen and (max-width: 600px) {
    .Article{
        width: 100%;
        perspective: 1000px;
        border: 1px solid var(--color3);
        border-radius:40px;
        text-decoration: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}
.Article img {
    width: 100%; /* L'image prend toute la largeur de l'article */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.Article h4, .Article p {
    padding:20px;
}


.no_line {
    text-decoration:none !important;
    color:black !important;
}